---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <title>Masoud Kaderpur</title>
    </head>
	<body>
		<Header />
		<main>
			<h1>Masoud Kaderpur</h1>
            <h3>Software Engineer Students</h3>
			<p>My Name ist Masoud Kaderpur and I'm currently studying Software Engineering at TU Wien</p>
            <p>More coming soon ...</p>
        </main>
		<Footer />
	</body>
</html>
